/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

html {
  scroll-behavior: smooth;
}

body{
  padding: 50px 0 200px;
  background-color: rgb(238,204,236);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0;
  background-image: url("http://pluspng.com/img-png/sakura-flower-png-hd-sakura-flower-1-4288.jpg");
  background-repeat: repeat-y;
  background-attachment: fixed;
  transition: padding-top 1s;
  transition-timing-function: ease-out;
}

body:after {
  content: "";
  opacity: 1;
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: block;
  background-color: rgb(246,226,242);
  animation: fadein .5s ease .5s forwards;
}

@keyframes fadein {
  from {opacity: 1}
  to {opacity: 0.2}
}

.pslo-courses-container, .faculty-container {
  padding: 0;
  background-color: rgba(255,255,255,0.9);
  align-items: self-start;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 25px;
  box-shadow: 0 0 75px grey;
}

.section h2, li {
  padding-right: 20px;
  padding-left: 20px;
}

.major-element ul li {
  padding-right: 10px;
  padding-left: 10px;
}

.major-element ul {
  padding-right: 30px;
  padding-left: 30px;
}

img {
  max-width: 90%;
  border-radius: 10%;
  margin-top: 5px;
}

#main-title {
  color: rgb(95,63,58);
  font-size: 50px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  font-weight: 100;
}

h2 {
  color: rgb(95,63,58);
  font-size: 24px;
}

#validation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  color: rgb(244,224,240);
  background-image: linear-gradient(rgba(0,0,0,0), rgba(45,30,35,0.95));
  margin-top: 0;
  padding-top: 0;
  width: 100%;
}

h6, #validation p + a {
  text-shadow: 0 0 50px rgb(50,50,50);
  font-size: 16px;
}

h6 {
  font-size: 20px;
  font-style: italic;
}

.card-body {
  padding: 10px 30px 30px;
}

.card-text a {
  color: #ffbbfa;
  transition: .2s;
}

.card-text a:hover {
  color: #a896ff;
}

#style ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#style {
  z-index: 2;
  position: fixed;
  background-image: linear-gradient(rgb(246, 226, 242), rgba(0,0,0,0));
  left: 0;
  right: 0;
  top: 0;
  height: 75px;
  padding-top: 4px;
  padding-bottom: 20px;
}

#style li {
  padding: 0 15px;
}

#style li a {
  display: block;
  color: rgb(95, 63, 58);;
  text-align: center;
  padding: 4px 16px;
  margin: 8px;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
  border-radius: 15px;
  transition: background-color .2s, box-shadow .2s;
  transition-timing-function: ease-out;
}

#style li:nth-child(2) a {
  color: rgba(155, 95, 118, 0.76);;
  background-color: rgba(255, 245, 253, 0.95);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}

#style li a:hover {
  background-color: rgb(255, 245, 253);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
}

#faculty-list {
  padding-left: 20px;
}

#faculty>ul>li {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
}

.office {
  font-size: 14px;
}

.name {
  font-style: italic;
}

#courses {
  line-height: 1.6;
  font-size: 16px;
  margin-top: 30px;
  padding-top: 10px;
  margin-bottom: 40px;
  border-top-style: dotted;
  border-top-color: rgb(220, 198, 215);
}

.pslo {
  line-height: 1.8;
  font-size: 16px;
}

@media screen and (min-width: 925px) {
  body {
    padding-left: 0;
    margin:0 auto;
    align-items: normal;
    display: flex;
    flex-direction: row;
    width: 905px;
    background-attachment: scroll;
    height: 1000px;
  }

  h1, .pslo-courses-container, .faculty-container {
    padding: 0;
    background-color:rgba(255,255,255,0.9);
    align-items: self-start;
    width: auto;
    margin: 0;
    box-shadow: unset;
  }

  body:before {
    z-index: -1;
    content: "";
    display:block;
    height: 950px;
    width: 905px;
    position: absolute;
    padding-top: 50px;
    border-radius: 25px;
    box-shadow: 0 0 75px grey;
  }

  .faculty-container {
    width: 350px;
  }

  .faculty-container {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .pslo-courses-container {
    border-radius: 0;
  }

  #main-title {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    writing-mode: vertical-lr;
    padding: 20px 30px 0;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    white-space: nowrap;
  }

  #validation {
    position: absolute;
    top: 1050px;
  }

  .card-body {
    width: 840px;
  }

  #style li {
    padding: 0 25px;
  }

  @media screen and (min-height: 1360px) {
    #validation {
      top: unset;
      bottom: 0;
    }
  }
}
