/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body {
  padding: 30px;
  background-color: #FFDE7A;
  display: flex;
  flex-direction: column;
  justify-content: center;



}
#main-title{
  margin-top: 100px;

}

h2 {
  color: white;
}

.section {
  border-radius: 25px;
  padding: 20px;
  border: 5px solid;
  margin: 10px;
  max-width: 48em;
}

#pslo {
  background: #326F0F;
}

@media screen and (min-width: 925px) {
  .pslo-courses-container {
    display: inline-flex;
    flex-direction: row-reverse;
    max-width: 100em;
    margin-left: 100px;
  }
}
#courses {
  background: #18A4D7;
}
#faculty {
  background: #E814F7;
}

.faculty-container {
  margin-left: 100px;
  flex-direction: row-reverse;
}

#validation {
  background: #F71414;
}

#style {
  position: fixed;
  left: 0;
  right: 500px;
  top: 0;
  height: 50px;
  padding: 20px;

}

#style li {
  float: left;

}
